*.la
*.lo
*.o
.deps
.libs
*.pc
*.cfile
*.pcap
Makefile
Makefile.in
config.h
config.status
config.log
config.sub
config.guess
missing
libtool
ltmain.sh
aclocal.m4
autom4te.cache
install-sh
configure
py-compile
stamp-h1
