configure
Makefile.in
config.log
config.h
config.sub
config.guess
ltmain.sh
Makefile
config.status
stamp-h1
config.h.in
autom4te.cache
libtool
missing
aclocal.m4
install-sh
depcomp
compile
build
*~
autom4te.cache 
debug
html
latex
xml
src/lib/gsm.cc
src/lib/gsm.py
src/lib/gsm.pyc
src/python/speech.gsm
